tr{
    border: 2px solid black;
}
td{
border: 5px solid black;
text-align: center;
}
table {
    border: solid black;
    width:  100%;
    text-align: center !;
}
th {
    border: solid black !important;
}

